@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    background-size: cover;
    height: 100vh;
    
}
.person-name{
    background-color: #323f4b;
    font-family: Roboto;
    color: #ffffff;
    font-size: 20px;
    font-size: 25px;
    font-weight: 600;
    padding: 18px;
    text-align: center;
}
.messages-container{
    padding: 20px;
}
.message-text{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 14px;
    padding: 14px;
}
.message-received{
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #52606d;
    text-align: left;
}
.message-sent{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: right;
    background-color: #47a3f3;
}